html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

#container {
  width: 100%;
  margin: 15px auto 0 auto;
}

.header {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  float: left;
}

.menu {
  position: absolute;
  z-index: 9999;
  background-color: #dadada;
  height: 100%;
  padding: 0.5em;
  top: 0;
  display: none;
}

.route-link {
  color: blue;
  cursor: pointer;
}

.map {
  clear: both;
  border: solid 1px black;
}
